[submodule "0x-eth-options"]
	path = 0x-eth-options
	url = https://github.com/nickgeoca/0x-eth-options
[submodule "0x-web-stack"]
	path = 0x-web-stack
	url = https://github.com/nickgeoca/0x-web-stack
[submodule "0x-relayer"]
	path = 0x-relayer
	url = https://github.com/nickgeoca/0x-relayer
[submodule "0x-test-chain"]
	path = 0x-test-chain
	url = https://github.com/nickgeoca/0x-test-chain
